<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Virtual - Uniformes Tocinos</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <!-- cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    
    <!-- css -->
    <link rel="stylesheet" href="./css/estilo.css">
</head>
<body>
    <!-- ============================================== -->
    <!-- MENU -->
    <!-- ============================================== -->
    <header data-bs-theme="light">

        <div class="navbar navbar-expand-lg navbar-light" id="menu">
          <div class="container">
            <a href="#" class="navbar-brand ">              
              <strong><img src="./img/Logos/tocinoslogo.png" alt="" width="150" height="150"></strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarHeader">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a href="./index.html" class="nav-link active">Inicio</a>

                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Uniformes Colegios</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./escinglaterra.html">Escuela de Inglaterra</a></li>
                            <li><a class="dropdown-item" href="./escabatemolina.html">Escuela Abate Molina</a></li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a href="./uniformesgenericos.html" class="nav-link">Uniformes Genéricos</a>
                    <li class="nav-item">
                        <a href="./cotizacion.html" class="nav-link">Cotizar</a>
                    <li class="nav-item">
                        <a href="#" class="nav-link"></a>    
                    </li>
                </ul>
                <a href="carrito.html" class="btn btn-primary">Carrito</a>
            </div>
          </div>
        </div>
      </header>

    <!-- ============================================== -->
    <!-- GALERIA DE PRODUCTOS-->
    <!-- ============================================== -->
    <div class="d-flex justify-content-center align-items-center">
        <img src="./img/Logos/logo inglaterra.jpeg" alt="logoInglaterra"  >Escuela Inglaterra</div>
        <div class="container-fluid bg-primary">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
                
                <button class="btn btn-primary w-100 fs-5" onclick="abrirModal()">Lista de productos</button>

                <div id="mi-modal" class="modal">
                    <div class="modal-contenido">
                      <span class="cerrar" onclick="cerrarModal()">&times;</span>
                      <p><!-- Acordeon Poleras -->
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Poleras
                                </button>
                                </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Poleras Escuela Inglaterra</div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="./img/Productos/EscuelaInglaterra/PoleraEscIngl1.png" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">Polera.</h5>
                                            <p class="card-text">$10.000</p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a href=""class="btn btn-primary">Detalles</a>                        
                                                    </div>                        
                                                <a href=""class="btn btn-success">Agregar</a>                  
                                              </div>  
                                        </div>
                                    </div>               
                                </div>
                
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="./img/Productos/EscuelaInglaterra/PoleraEscIngl2.png" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">Polera Alternativa.</h5>
                                            <p class="card-text">$10.000</p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a href=""class="btn btn-primary">Detalles</a>                        
                                                    </div>                        
                                                <a href=""class="btn btn-success">Agregar</a>                  
                                              </div>  
                                        </div>
                                    </div>               
                                </div>
                
                            </div>
                        </div> 
            
                        <!-- Acordeon Buzo -->
            
                        <div class="accordion-item" >
                            <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Buzo
                            </button>
                            </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Buzo Escuela Inglaterra</div>
                                <div class="col" >
                                    <div class="card shadow-sm">
                                        <img src="./img/Productos/EscuelaInglaterra/BuzoEscIngl.png" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">Buzo completo.</h5>
                                            <p class="card-text">$30.000</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a href=""class="btn btn-primary">Detalles</a>                        
                                                </div>                        
                                                <a href=""class="btn btn-success">Agregar</a>                  
                                            </div>  
                                        </div>
                                    </div>               
                                </div>
            
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="./img/Productos/EscuelaInglaterra/ChaquetaBuzoEscIngl.png" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">Chaqueta Buzo.</h5>
                                            <p class="card-text">$15.000</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a href=""class="btn btn-primary">Detalles</a>                        
                                                </div>                        
                                                <a href=""class="btn btn-success">Agregar</a>                  
                                            </div>  
                                        </div>
                                    </div>               
                                </div>
            
                                <div class="col">
                                    <div class="card shadow-sm">
                                    <img src="./img/Productos/EscuelaInglaterra/PantalonBuzoEscIngl.png" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">Pantalon Buzo.</h5>
                                            <p class="card-text">$15.000</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a href=""class="btn btn-primary">Detalles</a>                        
                                                </div>                        
                                                    <a href=""class="btn btn-success">Agregar</a>                  
                                            </div>  
                                        </div>
                                    </div>               
                                </div>
                            </div>
                        </div>
                            
                        <!-- Acordeon  Falda-->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Faldas 
                                    </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Faldas Escuela Abate Molina</div>
                                        <div class="col">
                                            <div class="card shadow-sm">
                                                <img src="./img/Productos/EscuelaInglaterra/FaldaEscIngl.png" alt="">
                                                <div class="card-body">
                                                    <h5 class="card-title">Falda .</h5>
                                                    <p class="card-text">$12.000</p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="btn-group">
                                                        <a href=""class="btn btn-primary">Detalles</a>                        
                                                        </div>                        
                                                        <a href=""class="btn btn-success">Agregar</a>                  
                                                    </div>  
                                                </div>
                                            </div>               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></p>
                    </div>
                  </div>
                  
   
  <!-- ============================================== -->
    <!-- FOOTER-->
    <!-- ============================================== --> 

    <footer class="w-100 d-flex align-items justify-content-center flex-wrap">
        <p class="fs-5 px-3 pt-3">Tocinos. &copy; Todos los derechos reservados 2023</p>
        <div id="iconos">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </footer>
                  

              
          </div>



<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>    
<!-- JavaScript -->
<script src="js/java.js"></script>
</body>
</html>